@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-image: url('../img/Fondos/fondo1-1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;



    /* background-image: url(../img/river1024.jpg);
    background-repeat: no-repeat;
    background-size: cover; */

    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;

}

/* ***************************** */
@media (max-width: 1920px) {
    header {
        border: solid 1px black;
        background-color: rgb(71, 77, 75);
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: space-between;
    }

    .logo {
        width: 150px;
    }


    nav {
        width: 65%;
        margin: 20px;
        align-content: center;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul a {
        list-style: none;
        padding: 30px;
        border-radius: 25%;
        text-decoration: none;
        transition: 1s;
    }
    
    nav ul a li {
        color: white;
        font-size: 32px;
    }

    nav ul a:hover {
        background-color: rgb(116, 119, 118);
        transform: scale(1.1);
    }


    /* ***************************** */

    .main_grid {
        display: grid;
        border: solid 1px black;
        background-color: rgb(197, 192, 197, .5);
        height: 100%;
    }

    main .hero {
        margin: 10px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        text-align: center;
    }

    .hero .texto {
        align-content: center;
    }

    .hero .texto p {
        text-align: center;
        justify-content: center;
    }

    #carouselExampleFade {
        transition-timing-function: in;
    }

    #carouselExampleFade img {
        width: 1000px;
        height: 700px;
        object-fit: cover;
    }




    /* ********************* */

    .seccion_tarjeta {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin: 10px;
        position: relative;
    }

    .seccion_tarjeta .tarjeta {
        border: solid 1px;
        position: relative;
        transition: 1s;
    }

    .seccion_tarjeta .tarjeta .texto_tarj {
        width: 31%;
        position: absolute;
        color: black;
        text-align: center;
        top: 30%;
        right: 210px;
        opacity: 0;
        transition: 1s;
    }



    .seccion_tarjeta .tarjeta a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold
    }

    .seccion_tarjeta .tarjeta img {
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    /* ********************** */
    .seccion_tarjeta .tarjeta:hover {
        box-shadow: 0 0 10px #000000, 0 0 40px #000000, 0 0 80px #000000;
        border-color: #ffffff;
    }

    .seccion_tarjeta .tarjeta:hover img {
        opacity: .5;
    }

    .seccion_tarjeta .tarjeta:hover .texto_tarj {
        font-size: 20px;
        opacity: 1;
        color: black;
    }




    /* ********************* */
    
    .recomendaciones{
        width: 89%;
        margin: 7%;
        background-color: aliceblue;
    }
    
    .recomendaciones .provincia{
        align-items: center;
        display: flex;

    }

    .recomendaciones .provincia .texto{
        width: 100%;
        font-family: Poppin;
    }
    /* ********************* */


    footer {
        background-color: rgb(71, 77, 75, .9);
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-family: "Poppins", serif;
        color: black;
    }

    footer a {
        text-decoration: none;
        color: black;
    }

    footer a img {
        width: 30px;
        text-align: center;
        background-color: white;

    }

    .redes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 20px;
        gap: 50px;
    }

    .redes li {
        list-style: none;
    }

    .redes li a {
        text-decoration: none;
    }

    .redes li a img {
        width: 50px;
        border-radius: 100%;
    }
}

